R2_ENDPOINT=https://<ACCOUNT_ID>.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=<MY-API-ACCESS-KEY-ID>
R2_SECRET_ACCESS_KEY=<MY-API-SECRET-ACCESS-KEY>
R2_BUCKET=<MY-BUCKET-NAME>

VALHEIM_WORLDS_PATH=%USERPROFILE%\AppData\LocalLow\IronGate\Valheim\worlds_local
PLAYER_NAME=<PLAYER-NAME>
