R2_ACCESS_KEY_ID=<Access Key ID>
R2_SECRET_ACCESS_KEY=<Secret Access Key>
R2_ENDPOINT=https://<Account ID>.r2.cloudflarestorage.com
R2_BUCKET=<Bucket Name>

VALHEIM_WORLDS_PATH=%USERPROFILE%\AppData\LocalLow\IronGate\Valheim\worlds_local
PLAYER_NAME=<PLAYER-NAME>
